<div class="col-xs-8">
  <h3>Personal Website</h3>
  <h4>Languages:</h4>
  <ul id="removeIndentLeft">
    <b>
      <li *ngFor="let l of currentProject.languages">{{ l }}</li>
    </b>
  </ul>  
  <h4>Abstract:</h4>
  <p>
    I programmed a personal website to serve two purposes: applying knowledge and talent marketing. 
    To build proficiency in web development, I began my journey by taking a University Web Development 
    course. I found that the course only glazed over my interest in web development failing to satisfy 
    my desire to deeply understand the construction of a website. To further my knowledge, I began to 
    complete online courses and tutorials from Udemy, Lynda, and YouTube; however, the knowledge 
    gained from completing these courses can only be demonstrated through application. Building my 
    personal website allowed me to further develop my understanding in web development but also provided 
    an opportunity to apply the skillset I recently obtained.  
  </p>
  <p>
    In addition, I wanted another means by which I can market myself. Although LinkedIn and University 
    Portals can be effectively at exclaiming your desire to be hired, they fail to set you apart from
    the others that also use these platforms. Therefore, once I captured the attention of a recruiter, 
    I can further establish a salient image in the recruiter’s mind by pointing them to my website. I 
    effectively change the perception of the recruiter to my own skillset because the median in which
    he does the inspection will be of my creation. Consequently, the recruiter’s judgement will be 
    laced with the idea that I must have obtained some degree of knowledge in website development. 
    Such a phenomenon can be analogous to eating pizza in the USA and Italy. Although the pizza might 
    be identical, the pizza in Italy will usually taste better than American pizza because the pizza’s 
    taste is influenced by our perception of food within these destinations. 
  </p>
  <div class="row text-center">
    <img src="https://amp.businessinsider.com/images/51e956c4ecad04804c000011-750-375.jpg"    
        alt="Personal Website"
        id="additionalPadding">
  </div>
</div>
