<div class="col-xs-8">
  <h3>Analysis Of ICO Success</h3>
  <h4>Languages:</h4>
  <ul id="removeIndentLeft">
    <b>
      <li *ngFor="let l of currentProject.languages">{{ l }}</li>
    </b>
  </ul>  
  <h4>Abstract:</h4>
  <p>
    Accurately predicting if a given ICO will successfully reach its funding goal would be extremely valuable for both potential 
    investors and the organizers of the ICO itself, as noted in the “Business Implications” section.  However, unlike for traditional 
    financial securities or even more established cryptocurrencies, there is relatively minimal quantitative data available for ICO 
    tokens on which to base investment decisions due to the premature nature of the firms raising funds and of the cryptocurrency 
    market in and of itself. Due to this financial ambiguity, ICO tokens, perhaps unlike larger established coins, are heavily influenced 
    by attention and marketing surrounding the ICO. But, without any proven measures to track a coin’s popularity, pre-ICO investors 
    must rely on accumulated knowledge and domain expertise to decipher probable ICO success and relative success as compared to other offerings.  
  </p> 
  <p>
    With this in mind, the goal of this project was to create a model predicting whether an ICO will hit its funding goal or not, based 
    on online sentiment towards the ICO, and characteristics of the ICO itself. The outcome of the model for a given ICO would thus be a 
    binary classification of whether or not an ICO will hit its goal. An important distinction must be made here between an ICO’s “hard cap” 
    and “soft cap.” A hard cap is the maximum target amount of funds an ICO will receive (above which funds will be returned to investors) 
    while a soft cap is a far lower target which if not achieved results in all contributed funds being returned to investors and the 
    cancellation of the project (Coinist, 2018). As a result soft caps are typically set extremely low by ICOs, and investors generally 
    view a project's ability to hit its hard cap as a better signal of future success. Hence, this model defines ICO success as hitting the hard cap, not soft cap.
  </p>
  <p>
    Data from the online forum Reddit was used as a proxy for overall sentiment facing a token, due to the platform’s immense popularity 
    within the cryptocurrency community. While other sources such as Twitter or private forums may also influence sentiment, these have 
    the potential to have a more biased outlook due to their individual-based nature. The organization of Reddit content is also conducive 
    to sentiment analysis: user posts and comments about the same topic are grouped into “sub-reddits” which can easily be scraped (most 
    notable tokens would have their own subreddit). Further, comments are “up-voted” and “down-voted” by users to create an aggregate proxy 
    for popularity within the community. Characteristics of each ICO were obtained directly from their respective white papers.
  </p>
  <div class="row text-center">
    <img src="https://cdn-images-1.medium.com/max/1200/0*4aC_Yysv4AolAY3Q.png"    
      id="additionalPadding"
      alt="Initial Coin Offering">
  </div>
</div>
