<div class="col-xs-8">
  <h3>Predicting Baseball Strategy</h3>
  <h4>Languages:</h4>
  <ul id="removeIndentLeft">
    <b>
      <li *ngFor="let l of currentProject.languages">{{ l }}</li>
    </b>
  </ul>  
  <h4>Abstract:</h4>
  <p>
    Baseball is a sport played by two types of individuals: the players and the statisticians. 
    After the publication of Michael Lewis’s famous book Moneyball, the sport has evolved into a game oriented in statistical analysis and evidence-based decision making. 
    Players are no longer selected based on “gut feeling” but mainly on the stats that describe their performance. 
    Individuals who were overlooked by the conventional methods of scouting can no longer be overlooked through statistical analysis because numbers possess no bias. 
    Nevertheless, the type of players within baseball has not changed within this transformation; however, the way the players are selected and the type of strategies they use has changed dramatically.
  </p>
  <p>
    The project looked to examine the basic statistical measures that dictate the outcome of a baseball game. 
    Furthermore, it analysed other indicators that may not be as obvious to the reader. The report was split into three main sections. 
    First, a baseline model out of baseball fundamentals statistics was created to determine the winning team. 
    Second, there was an attempt to show the impact of the team payroll and fan attendance on winning percentage.
    Finally, there was an attempt to identify the impact of ‘Slugging’ strategies on every team’s ability to win games.
    The knowledge acquired from the models will yield valuable information regarding the likelihood of whether a team will win or lose.
  </p> 
  <div class="row text-center">
    <img src="https://m.media-amazon.com/images/M/MV5BODM1NDMxMTI3M15BMl5BanBnXkFtZTcwMDAzODY1Ng@@._V1_CR0,53,560,315_AL_UX477_CR0,0,477,268_AL_.jpg"
      alt="Moneyball"
      id="adjustPadding">
  </div>
</div>