<div class="container text-center col-lg-12">
  <div class="row" id="titleRow">
    <p class="titleName">Michael A. Krakovsky</p>
    <p>Queen’s Business Student Passionate about Technology</p>
    <p>Determined | Enthusiastic | Motivated</p>
  </div>
   <section>
      <div class="row">
        <h3>Education</h3>
      </div>
      <div class="row">
        <p class="alignleft">Bachelor of Computing, Queen’s University, Kingston, ON</p>
        <p class="alignright">September 2016 – Present</p>
      </div>
      <div class="row">
        <p class="alignleft">Bachelor of Commerce (Honours), Queen’s University, Kingston, ON</p>
        <p class="alignright">September 2014 – May 2018</p>
      </div>
      <ul class="alignleft">
        <li>Graduated as First-Class Honours with Distinction</li>
      </ul>
   </section>
   <section>
      <div class="row">
        <h3>Professional Experience</h3>
      </div>
      <div class="row">
        <p class="alignleft">Business Associate, Royal Bank of Canada, Toronto, ON</p>
        <p class="alignright">April 2016 - September 2018</p>
      </div>
      <ul>
        <li>
          Communicated with subject matter experts within the bank to document process information using 
          a lean format while giving recommendations on how to use these documentation tools. 
        </li>
        <li>
          Assisted in the identification and organization of current projects to ensure the group’s alignment to the bank’s overall strategy. 
          The task involved creating an inventory of projects in flight while assisting staff with updating and maintaining the list.  
        </li>
      </ul>
      <div class="row">
        <p class="alignleft">Sole Proprietor, Michael’s School of Swimming, Vaughan, ON</p>
        <p class="alignright">January 2014 – January 2016</p>
      </div>
      <ul>
        <li>
          Demonstrated creativity, ambition, and organization by independently starting a business that develops the athletic 
          skills of young children through teaching correct swimming strokes and encouraging appropriate behaviour around swimming pools.  
        </li>
        <li>
          Communicated with clients to tailor services to their needs, achieving complete customer satisfaction and a 
          95% pass rate through effective client relation skills.
        </li>
        <li>
          Managed all company finances derived from business activities producing $11,000 in profit during the first year of the business.
        </li>
      </ul>
   </section>
   <section>
      <div class="row">
        <h3>Extracurricular Experience</h3>
      </div>
      <div class="row">
        <p class="alignleft">Golf Varsity Athlete, Queen’s University, Kingston, ON</p>
        <p class="alignright">September 2018 - Present</p>
      </div>
      <ul>
        <li>
          Attended weekly team practises while also establishing discipline through following a training regimen.
          The routine included lifting sessions, additional golf practise, and dietary changes while still maintaining a respectable GPA.  
        </li>
        <li>
          Engaged with long-established golf members during 
          club events at Cataraqui Golf Club to help solidify a three year Queen’s University partnership with the club.     
        </li>
      </ul>
      <div class="row">
        <p class="alignleft">Research Co-Chair, Queen’s Blockchain Innovation, Kingston, ON</p>
        <p class="alignright">December 2017 - Present</p>
      </div>
      <ul>
        <li>
          Demonstrated initiative by researching new blockchain technologies purely on a self-driven basis 
          resulting in the creation of three new articles.   
        </li>
        <li>
          Collaborated with a team to create presentations explaining blockchain concepts to 
          people with little or no understanding thus displaying the ability to communicate ideas to groups of people.
        </li>
        <li>
          Created a report for the AION Network that compiled a list of token standards utilised across blockchain platforms. 
          The final report provided a recommended standard that should be used within their own platform.
        </li>
      </ul>
   </section>
   <section>
      <div class="row">
        <h3>Technology Summary with Created Projects</h3>
      </div>
      <div class="shiftLeft">
      <p><b>Text Analytics: </b>Utilised the Reddit API to extract comments which then were used to tract sentiment on a 
        cryptocurrency’s Reddit’s Page. The sentiment was then used to model ICO success.</p>
      <p><b>Forecasting: </b>Utilized Gretl to forecast Toronto housing prices by creating VECM and ARIMA Models.</p>
      <p><b>Data Modeling: </b>Compiled baseball stats into a SQL database of every single event occurrence in the 2017 MLB 
        season to model how one’s team strategy can affect winning outcome. </p>
      <p><b>Systems: </b>Oracle VM VirtualBox, Windows 8, Windows 10, Ubuntu Linux, Kali Linux, UNIX </p>
      <p><b>Design & IDE Tools: </b>Eclipse, Notepad++, Jupyter, Anaconda Spyder, VIM, Visual Studio Code </p>
      <p><b>Programming Languages: </b>Java, C, Python, SQL, BASH, Angular, HTML, CSS, JavaScript</p>
      </div>
   </section>
</div>
