<div class="container text-center col-lg-12">
  <div class="row" id="titleRow">
    <p class="titleName">Michael A. Krakovsky</p>
    <p>Queen’s Business Student Passionate about Technology</p>
    <p>Determined | Enthusiastic | Motivated</p>
  </div>
   <section>
      <div class="row">
        <h3>Education</h3>
      </div>
      <div class="row">
          <b><p class="alignleft">Bachelor of Computing, Queen’s University, Kingston, ON</p></b>
          <p class="alignright">September 2016 – May 2019</p>
          <b><p class="alignleft">Bachelor of Commerce (Honours), Queen’s University, Kingston, ON</p></b>
          <p class="alignright">September 2014 – May 2018</p>
        <ul class="alignleft">
          <li>Graduated as First-Class Honours with Distinction</li>
        </ul>
      </div>
   </section>
   <section>
      <div class="row">
        <h3>Professional Experience</h3>
      </div>
      <div class="row">
        <b><p class="alignleft">Quality Engineer, Royal Bank of Canada, Toronto, ON</p></b>
        <p class="alignright">August 2019 - Present</p>
      </div>
      <ul>
        <li>
          Coded and maintained Python scripts with Selenium and Jenkins to automate quality testing for Web applications. 
          The project enabled the current testing team to focus on other priority work resulting in higher work satisfaction and 
          greater cost savings.
        </li>
        <li>
          Integrated ‘Stub Testing’ using an opensource software called Wiremock. The technology was never used in our group thus 
          requiring patience and open mindedness to learn the new technology. The style of testing enhanced the team’s ability to create 
          more complex tests thus increasing the overall quality of our own API.
        </li>
        <li>
          Designed a test plan for an enterprise wide API within RBC thus ensuring an acceptable level of quality before being deployed 
          to production. The test cases were built with ReadyAPI and scripting language groovy.
        </li>
        <li>
          Prepared and executed over seven product API product demonstrations to business and technical partners. The presentation required 
          strong communication skills to ensure stakeholders were aware of the project’s current health and areas of improvement.
        </li>
        <li>
          Participated in a development team using the Agile methodology with Jira.
        </li>
        <li>
          Performed over 20 basic load tests to ensure the API can handle hundreds of transactions per second. Once the performance 
          test was executed, the software Dynatrace was utilised to identify performance bottlenecks resulting in acceptable response 
          times and greater load capacities.
        </li>
        <li>
          Utilised GitHub to share and control source code.
        </li>
      </ul>
      <div class="row">
        <b><p class="alignleft">Business Associate, Royal Bank of Canada, Toronto, ON</p></b>
        <p class="alignright">April 2016 - September 2018</p>
      </div>
      <ul>
        <li>
          Communicated with process owners within the bank to document information while giving recommendations on how to use these 
          documentation tools. The resulting documentation enabled the credit group to identify opportunities for standardisation in 
          operating processes.
        </li>
        <li>
          Assisted in the identification and organization of current projects to ensure the group’s alignment to the bank’s overall strategy. 
          The task involved creating a projects inventory while assisting staff with updating the list; therefore, the task enabled employees 
          to prioritise their workload. 
        </li>
        <li>
          Developed a comprehensive knowledge of business credit products and their associated back-end systems while documenting RBC’s 
          credit procedures to fully map fifteen business process. 
        </li>
        <li>
          Worked extensively with an Identity and Access Management Tool and communicated with our cyber partners to update the current flawed 
          policy thus preventing segregation of duties risks.
        </li>
        <li>
          Supervised four other summer students in completing a laundry list of tasks while leading in the creation of bi-weekly reports to 
          both my Senior Manager and Director. The report enabled senior leadership to adjust their current strategy and aid in potential skill 
          gaps.
        </li>
      </ul>
      <div class="row">
        <b><p class="alignleft">Sole Proprietor, Michael’s School of Swimming, Vaughan, ON</p></b>
        <p class="alignright">January 2014 – January 2016</p>
      </div>
      <ul>
        <li>
          Demonstrated creativity, ambition, and organization by independently starting a business that develops the athletic 
          skills of young children through teaching correct swimming strokes and encouraging appropriate behaviour around swimming pools.  
        </li>
        <li>
          Communicated with clients to tailor services to their needs, achieving complete customer satisfaction and a 
          95% pass rate through effective client relation skills.
        </li>
        <li>
          Managed all company finances derived from business activities producing $11,000 in profit during the first year of the business.
        </li>
      </ul>
   </section>
   <section>
      <div class="row">
        <b><h3>Additional Activities</h3></b>
      </div>
      <div class="row">
        <p class="alignleft">Golf Varsity Athlete, Queen’s University, Kingston, ON</p>
        <p class="alignright">September 2018 - May 2019</p>
      </div>
      <ul>
        <li>
          Attended weekly team practises while also establishing discipline through following a training regimen. 
          The routine included lifting sessions, additional golf practise, and dietary changes while still maintaining a respectable GPA. 
        </li>
      </ul>
      <div class="row">
        <b><p class="alignleft">QHacks, Queen’s University, Kingston, ON</p></b>
        <p class="alignright">February 2019</p>
      </div>
      <ul>
        <li>
          Collaborated with three other individuals during a Hackathon to create a minimal viable product in thirty hours. 
          The product mapped the Internet connectivity in a wide range of cities.  
        </li>
      </ul>
   </section>
</div>
