#center-me {
    float: center;
}

img {
    max-width: 300px;
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

#languages {
    display: inline-block;
    padding-left: 0px;
    padding-bottom: 30px;
}